<header class="bg-white mb-golden-xl text-primary px-golden-lg py-golden-md flex justify-center shadow-sm sticky top-0">
    <div class="justify-between flex items-center max-w-[1024px] w-full">
        <h1 class="text-md font-semibold">LOGO Dashboard</h1>
        <nav class="flex gap-golden-md">
        <app-nav-link [label]="'Produkter'" [href]="'/admin/products'"/>
        <app-nav-link [label]="'Ny Produkt'" [href]="'/admin/products/new'"/>
        <app-nav-link [label]="'Kampanjer'" [href]="'/admin/products/campaigns'"/>
        </nav>
    </div>
</header>